  <form class="new-member-form" action="/argonautes" method="post">
    <label for="name">Nom de l&apos;Argonaute</label>
    <input id="argonaute_name" name="argonaute[name]" type="text" placeholder="Charalampos" />
    <button type="submit">Envoyer</button>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
